
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroud-color: #b7bfe9d9;
    --button-color-nohover: rgb(242, 153, 0);
}

h1 {
    background:radial-gradient(orange,navy);
    padding: 20px;
    margin-bottom: 35px;
    margin-top: -10px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-style:italic;
}

.container {
    margin: 120px auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px double;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: var(--backgroud-color);
    border-radius: 15px;
}

p {
    margin-bottom: -5px;
    text-align: left;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

.btn {
    background:radial-gradient(orange,navy);
    line-height: 20px;
    margin: 10px 0 10px 0;
}

#list-btn,#search-btn{
    background:radial-gradient(orange,navy);
    margin: 10px 0 10px 0;
    width: 100%;
    color: white;
    text-shadow: 3px 3px 3px navy;
}

#list-btn:hover,#search-btn:hover {
    box-shadow: inset 0px 0px 8px
    rgb(222, 220, 222), 0 0 15px
    rgb(222, 220, 222);
}

#list-btn:active,#search-btn:active {
    font-size: 14px;
}

.search-group {
    display: flex;
    flex-direction: column;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    border: 1px black;
    font-size: 12px;
    margin: 5px 15px 0 30px;
    padding: 15px;
}

ul {
  
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

/* .list-ul { */
    /* display: flex; */
    /* width: auto;  */
/* } */

#five-day-weather {
    display: flex;
    display: block;
    text-align: center;
    align-items: center;
    background:radial-gradient(orange,navy);
    color: white;
    text-shadow: 2px 2px 2px navy;
    font-size: 16px;
    padding:5px;
    margin: 5px;
    height: 100%;
    width: 100%;
  }

.card-body {
    /* width: 100%; */
    /* height: auto; */
    background-color: rgba(224, 218, 196, 0.697);
  }


  /*  To make it responsive accordingly in tab */

  @media screen and (max-width: 576px) {
    main
   {
      flex-direction: column;
    }
  }

@media only screen and (max-width: 576px) {
    #search-btn,#list-btn {
        width: 50vw;
    }
    #city-input {
      width: 50vw;
    }
  }
  /*  To make it responsive accordingly in mobile */
  
  @media only screen and (max-width: 576px) {
    #body {
      justify-content: center;
    }
  }