
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroud-color: #b7bfe9d9;
    --button-color-nohover: rgb(242, 153, 0);
}

h1 {
    background:radial-gradient(orange,navy);
    padding: 20px;
    margin-bottom: 35px;
    margin-top: -10px;
}
.container {
    margin: 150px auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px double;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    background-color: var(--backgroud-color);
    border-radius: 15px;
}

p {
    margin-bottom: -5px;
    text-align: left;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

.currForcast {
    text-align: left;
}
.btn {
    background:radial-gradient(orange,navy);
    color: black;
    line-height: 20px;
    margin-bottom: 10px;
}

#search-btn {
    background:radial-gradient(white,navy);
    margin: 10px 0 40px 0;
    width: 100%;
}
  .search-group {
    display: flex;
    flex-direction: column;
  }

  .five-day-forcast {
    display: flex;
    flex-direction: row;
    border: 1px black;
    font-size: 12px;
    width: 100%;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    /* text-align: left; */
  }